---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sv-SE">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="David Holmgrens webbsida" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/david.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="/og.jpg" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="David Holmgrens webbsida" />
		<link type="text/plain" rel="author" href="https://david.nt3.me/humans.txt" />
		<meta property="og:url" content="https://david.nt3.me" />
		<meta property="og:type" content="website" />
		<title>{title}</title>
	</head>
	<body class="h-screen w-screen bg-background">
		<slot />
	</body>
</html>
